<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Ajouter une bouteille</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Ajouter une bouteille :</h1>
       
      <form th:action="@{/addBottle}"
         th:object="${bottleForm}" method="POST">
         Nom :
         <input type="text" th:field="*{name}" />    
         <br/>
         <input type="submit" value="Ajouter" />
      </form>
       
   </body>
</html>