<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title th:utext="#{myCellar}" />
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Ma cave</h1>
      <a href="addBottle">Ajouter une bouteille</a>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th th:utext="#{bottle.name}" />
               <th th:utext="#{bottle.size}" />
            </tr>
            <tr th:each ="bottle : ${bottles}">
               <td th:utext="${bottle.name}" />
               <td th:utext="#{${bottle.size}}" />
               <td>
                <a th:href="@{'/bottleList/removeBottle/' + ${bottle.id}}" class="btn btn-danger" >Boire</a>
               </td>
            </tr>
         </table>
      </div>
   </body>
</html>