<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Ajouter une bouteille</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
	<h1>Ajouter une bouteille :</h1>

	<form th:action="@{/bottleList/addBottle}" th:object="${bottleForm}"
		method="POST">
		Nom : <input type="text" th:field="*{name}" /> 
		<br /> 
		Taille : <select name="size">
			<option
				th:each="size : ${T(com.wine.bottle.util.BottleSize).values()}"
				th:value="${size}" th:text="${size}" />
		</select> 
		<br />
		Millésime : <input type="number" th:field="*{vintage}" /> 
		<br />
		Quantité : <input type="number" th:field="*{quantity}" /> 
		<br />
		Appélation : <select name="label">
			<option
				th:each="label : ${T(com.wine.bottle.util.WineLabel).values()}"
				th:value="${label}" th:text="${label}" />
		</select> 
		<br />
		Domaine : <input type="text" th:field="*{domain}" /> 
		<br />
		Couleur : <select name="color">
			<option
				th:each="color : ${T(com.wine.bottle.util.WineColor).values()}"
				th:value="${color}" th:text="${color}" />
		</select> 
		<br />
		A boire à partir de : <input type="number" th:field="*{drinkFrom}" /> 
		<br />
		A boire jusqu'à : <input type="number" th:field="*{drinkTo}" /> 
		<br />
		<!--  Cave : <input type="text" th:field="*{name}" /> 
		<br />-->
		Prix : <input type="number" step="0.01"  th:field="*{price}" /> 
		<br />
		<input type="submit" value="Ajouter" />
	</form>

</body>
</html>