<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title th:utext="#{dashboard}" />
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Mes caves</h1>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
               <th th:utext="#{cellar.name}" />
            </tr>
            <tr th:each ="cellar : ${cellars}">
               <td th:utext="${cellar.name}" />
            </tr>
         </table>
      </div>
   </body>
</html>