<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Connexion — Ma Cave</title>
    <link rel="stylesheet" th:href="@{/login-app/assets/index.css}"/>
    <script th:inline="javascript">
        window._csrf        = /*[[${_csrf.token}]]*/ '';
        window._csrf_header = /*[[${_csrf.headerName}]]*/ 'X-CSRF-TOKEN';
    </script>
</head>
<body>
    <div id="root"></div>
    <script type="module" th:src="@{/login-app/assets/index.js}"></script>
</body>
</html>
