<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <meta charset="UTF-8" />
    <head>
        <title>Connexion</title>
    </head>
    <body>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> Adresse mail : <input type="text" name="username"/> </label></div>
            <div><label> Mot de passe : <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Connexion"/></div>
        </form>
        <a href="/registration" th:utext="#{account.registration.redirection}" ></a>
    </body>
</html>