<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
      <meta charset="utf-8">
      <title>Create an account</title>
  </head>

  <body>

    <div class="container">

        <form method="POST" th:object="${userForm}" th:action="@{/registration}">
            <h2 class="form-signin-heading">Create your account</h2>
                <div>
                    Nom : <input type="text" name="username"></input>
                </div>

                <div>
                    <input type="password" name="password"></input>
                </div>

            <div>
                    <input type="password" name="passwordConfirm"></input>
                </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>

    </div>

  </body>
</html>